In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2021-02-03 06:27:29,64.3833,-173.3000,5.14,91,100,14.81
1,1,Bassila,BJ,2021-02-03 06:28:32,9.0081,1.6654,68.00,42,8,2.91
2,2,Severo-Kurilsk,RU,2021-02-03 06:26:13,50.6789,156.1250,19.06,90,99,35.68
3,3,Klaksvik,FO,2021-02-03 06:26:30,62.2266,-6.5890,37.40,65,75,13.80
4,4,Ternate,ID,2021-02-03 06:28:30,0.8000,127.4000,82.80,74,13,10.65

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Ternate,ID,2021-02-03 06:28:30,0.8000,127.4000,82.80,74,13,10.65
5,5,Butaritari,KI,2021-02-03 06:26:26,3.0707,172.7902,81.97,83,91,18.28
8,8,Katobu,ID,2021-02-03 06:28:32,-4.9408,122.5276,88.45,58,84,6.98
10,10,Suba,PH,2021-02-03 06:28:32,10.8438,121.0102,80.56,79,38,29.93
14,14,Mahebourg,MU,2021-02-03 06:26:13,-20.4081,57.7000,84.20,70,75,11.50
15,15,Avarua,CK,2021-02-03 06:26:22,-21.2078,-159.7750,80.60,78,20,12.66
19,19,Port Alfred,ZA,2021-02-03 06:26:14,-33.5906,26.8910,75.00,77,5,1.99
22,22,San Policarpo,PH,2021-02-03 06:26:40,12.1791,125.5072,82.58,73,98,15.68
28,28,Puerto Ayora,EC,2021-02-03 06:26:16,-0.7393,-90.3518,75.99,94,77,3.00
35,35,Biak,ID,2021-02-03 06:28:34,-0.9131,122.8766,85.14,66,96,3.06

In [60]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [61]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [62]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [63]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Ternate,ID,2021-02-03 06:28:30,0.8000,127.4000,82.80,74,13,10.65
5,5,Butaritari,KI,2021-02-03 06:26:26,3.0707,172.7902,81.97,83,91,18.28
8,8,Katobu,ID,2021-02-03 06:28:32,-4.9408,122.5276,88.45,58,84,6.98
10,10,Suba,PH,2021-02-03 06:28:32,10.8438,121.0102,80.56,79,38,29.93
14,14,Mahebourg,MU,2021-02-03 06:26:13,-20.4081,57.7000,84.20,70,75,11.50
...,...,...,...,...,...,...,...,...,...,...
533,533,Port Hedland,AU,2021-02-03 06:29:23,-20.3167,118.5667,89.60,62,19,18.41
536,536,Panguna,PG,2021-02-03 06:29:24,-6.3164,155.4848,75.02,93,100,2.62
538,538,Cikupa,ID,2021-02-03 06:29:24,-6.2364,106.5083,87.01,78,40,13.80
545,545,Guarapari,BR,2021-02-03 06:28:12,-20.6667,-40.4975,77.00,83,20,3.44
546,546,Kasese,UG,2021-02-03 06:29:25,0.1833,30.0833,78.44,39,80,1.81

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4         Ternate      ID     82.80   0.8000  127.4000
5      Butaritari      KI     81.97   3.0707  172.7902
8          Katobu      ID     88.45  -4.9408  122.5276
10           Suba      PH     80.56  10.8438  121.0102
14      Mahebourg      MU     84.20 -20.4081   57.7000
15         Avarua      CK     80.60 -21.2078 -159.7750
19    Port Alfred      ZA     75.00 -33.5906   26.8910
22  San Policarpo      PH     82.58  12.1791  125.5072
28   Puerto Ayora      EC     75.99  -0.7393  -90.3518
35           Biak      ID     85.14  -0.9131  122.8766

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Ternate,ID,82.80,0.8000,127.4000,Grand Dafam Bela Ternate
5,Butaritari,KI,81.97,3.0707,172.7902,Isles Sunset Lodge
8,Katobu,ID,88.45,-4.9408,122.5276,La Ode Husein
10,Suba,PH,80.56,10.8438,121.0102,Casita Bed and Grill
14,Mahebourg,MU,84.20,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
19,Port Alfred,ZA,75.00,-33.5906,26.8910,The Halyards Hotel
22,San Policarpo,PH,82.58,12.1791,125.5072,JM Lodge
28,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Castillo Galapagos
35,Biak,ID,85.14,-0.9131,122.8766,Penginapan Kim

In [29]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng          Hotel Name
4      Ternate      ID     82.80   0.8000  127.4000             Ternate
5   Butaritari      KI     81.97   3.0707  172.7902  Isles Sunset Lodge
8       Katobu      ID     88.45  -4.9408  122.5276             Kampani
10        Suba      PH     80.56  10.8438  121.0102                Cuyo
14   Mahebourg      MU     84.20 -20.4081   57.7000           Mahebourg

In [31]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'next_page_token': 'ATtYBwLVpRWy3s-3VMRSuNmdB4vVGHWAW87zHhYTyYcOpHuDC-DGTn-qBN4-jyzl-t6NkaS0h4lnhvr6fc8fJ_ZJtDfwUL_YiqmeaS9lrEWSUuTWJuiHoX9Kz8RW5B36psbRqj7DdhlUyOfIxKZfz_V9kWQ8G2tge7mCEpib1BjWEnjo4eOlr6r5eih_UofstkCgedMzG4jvK_id4zXvT1aY0nMM0Z2hol6BXzyiRSutf5knRLCdmF3u5p9lLng87ONePuaYR4OiTHdI-2mkl1fsg1O7AJlCA4LoOhYLSE5PUcx5D1cRxjNYUc1buu05llOKuqoXq-j--YZspeUVHV5fus7viQE5RhohjfttyB1BN6-8heqrp1a72pBcwfVAu3eOfY26fglG6I-2HiE1GOa9R3HG0sst-vxEZSdhVFfv5Rw8BEsXoo91jzFw',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594393802915,
      'lng': 2.354352980291503},
     'southwest': {'lat': 48.8567414197085, 'lng': 2.351655019708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'ATtYBwIvYJa_CdKSRkHqQHACPZKRnKNJT_r8Jg2jUinGeD7NBH2bC0r5Mf-urke6D1160SxWUkrZii0acpp4qgOQJQgzq6ASZGfInMrMgagNbKId0uuVmQkMVMJc3wCsRMnBbFvsuPH4dQgfdL_evPxpCWRsqPQf1m83pASRFYZcsSidUZ0C',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 278,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Britannique',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 546,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'ATtYBwJnsrNSDevwFgfjSd1aN8lMPtfePw_KwZfHz6JZn2S8BXv8WXZpxD0ktVRRAxW8SttCVkD2uWlfHfWQugiTDaeCcwEBTblZFDIE6ffPsXCKR2ZDzNkVRY-aYUDjs5iOw2meCpSyf9ErwsBoZarnrGjo4m5ELLhQYWpv20Kcz-5tXvC7',
     'width': 1024}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 426,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'CLOSED_TEMPORARILY',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.86176813029151,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.85907016970851, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'permanently_closed': True,
   'photos': [{'height': 496,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'ATtYBwJbFrpJCwt_KHEGlzWq0wtmdDTuFUkK4nOEfOXyPP6LAVVhv4_Wyd7HxOAMC7A2udntHPhS5uwiQH_KZdj2iD7WWAHcJ5NAJBgw74sd1WoqxIIj7QsFyl9_En4IQnrphexHGajmrIDH4oXv4WXoAFNt9FcsVwbed6CH8IcFuTWqT8TS',
     'width': 745}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 817,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607769, 'lng': 2.3463217},
    'viewport': {'northeast': {'lat': 48.8620135802915,
      'lng': 2.347597080291502},
     'southwest': {'lat': 48.8593156197085, 'lng': 2.344899119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel</a>'],
     'photo_reference': 'ATtYBwLKvPjYAyv27Yvk4DKbG33PMNGzZoL4vM6YtLOjEUOVqH1ADvOMUl-biQnmcSLdB-PAvxtpRX03E0deT_FKnOh4c-LCKuI9NnOUi5uaNwQQcKycPlNtRpm04w89kiMAjUJj_tQFtg7ZzrcVbeq73tDhNC1eeMRGp5hBg4K5BMTM2MYe',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8G Paris, France',
    'global_code': '8FW4V86W+8G'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2090,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'ATtYBwLZ9t_fOPXBKXiMasmGjbsrRoIKvO8yfxQWIH9X0XZFfNYz2-NnsLcwWN6_phdjs_MI5oM4XWOJYUzGwORiDpahbHeXBOiXOdsBgVLDhFziyEkMrNkXLaCW49yajQ36wVuL2-jIDPt9yhtPIC5fn1jJaMNS__ig8jL69aONtlcBS5Jg',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 275,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107856881779358840274">David O&#39;Meara</a>'],
     'photo_reference': 'ATtYBwKn2_UnSPCkF3xTqCAWGBHegrWGMG8_Bgm5gvYISVwBDc5zyWdp9aLUIzKEiU24hUl_cxF6FLLyaLl5i7Vag7yp0bMPFHJOYyekHzU3kI5aLGC9cLfdhVUY5AUKINB-iVD1tb8A7fJoFwh7APa0gN5j0hrRcuIiArKzUUeveJx_7AXz',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 655,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.8650643697085, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'ATtYBwKi8_W4HmjUHJcPgZ7tBfeuxoBxc7FOjwStnuObpJfed714w4telDIqTPqID8g-BW3qzTKKsNjBlHSnG_cDmZ5jLSn4n5oazFmI4os8uRgA3KStyvCzN8PZTQWi6wZm04__Gs-hzgNXRrMh-UtG7IkG_TaDfrh7M0uwubC1LIehqoGD',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 375,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3700,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109908333790946649027">Hôtel Regina Louvre</a>'],
     'photo_reference': 'ATtYBwIK9LVxKxWp7lsV7PJuwwwOWTStJ3kGg1KzgIGUsSWZbq5X-Goj5OH-3NfY3wuUBV_s_OcKlFy4SdoB4YC6uQXsBXZgtL1inT83TTtt9sOgDUUUpCx-HjH9w9gWv2f5YbxI1xjiqvBtrKaSs2KAJ9qWfnkf7TZzioMltcZSKR8l5Kur',
     'width': 5550}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 504,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84795229999999, 'lng': 2.370869},
    'viewport': {'northeast': {'lat': 48.84922153029149,
      'lng': 2.372321980291502},
     'southwest': {'lat': 48.84652356970849, 'lng': 2.369624019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102166088584622554231">cherry pyj</a>'],
     'photo_reference': 'ATtYBwLaCDARmkJQ4CQfMXjNNi0lT2CbWReU9oVaSywO6JE6-8Rly0ZawHewm3_nI4jvhyDaSaCPjuDt0E7H9BLhHVDKjZbnpHd_cOVW4NnKMQ2qrPUlw5D8EhIqMKUJuhxXwNXDi-fc4UnFTTg-qpuN9o1_hikO3wR64sVVD5-2nf5oi2yZ',
     'width': 4032}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+58 Paris, France',
    'global_code': '8FW4R9XC+58'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 750,
   'vicinity': '41/43 Avenue Ledru Rollin, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84754640000001, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488750302915,
      'lng': 2.373125480291502},
     'southwest': {'lat': 48.8461770697085, 'lng': 2.370427519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112792427704207973717">salva ubeda</a>'],
     'photo_reference': 'ATtYBwJYO43w-skXQTsOhtdzrVJMATrrY7sUAxLNxu9nxTIp1PP0vhLoUueNYUvesNsQRROeMN9Q6ZHYUmRBVJSV0b5TwG4OpYbGoam-OMty23jWw9ff1CjC7cEDfLhvP93HUJBFuUr9z8gppK9GezEs1UjZROQCKVVp4rLvoypSEOFHzhLw',
     'width': 6000}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 380,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Prélude Opéra Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105311226083684825186">Shin-ichi Fukuyama</a>'],
     'photo_reference': 'ATtYBwL3pSDEqFmoWcuMnOTas_eXhdC_UZ-tQT2Z3eppeyteredTdOuDEngDHIP7ldwTC0WKN6Z_HkcW1UHqkKutqY7SpPsyZQ8BkWykX1pF0EDFd0uGxJEAonYoPQJYgyQunGtX3v76jOO76Rlyjk7D_KMqwkxiBB3zWZ47fHRKOoAuJQBS',
     'width': 4032}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 317,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423491, 'lng': 2.3632246},
    'viewport': {'northeast': {'lat': 48.84365308029151,
      'lng': 2.364707180291502},
     'southwest': {'lat': 48.84095511970851, 'lng': 2.362009219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114802271282641766772">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'ATtYBwIXhy-zR7_VQefFtEJi1_quzD9uRnFcajMeY3hogVh4xqkBfcAwSUlka3KAnNGgGn9T9lrBh5oLYMNQrwieYv6CI3_LQmna-OQ89AADhlcbNK2pxmGwEuud0o1dsuW_ZzTSgtRG2PX64IRAiGx93TgdFZ65deeVbEuVBWr0Z4qFyq2L',
     'width': 6720}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 4,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 433,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655772302915,
      'lng': 2.332153880291502},
     'southwest': {'lat': 48.8628792697085, 'lng': 2.329455919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'ATtYBwIhsCyHJufLajLM4GF0J77zYGRHGlqOvfKfTGtUFG9HMUC6LmUgX5N93zfIwJKRRjPkRt0WAS4Of0t9fT4xkqT0OtmjuY4jBmRx1VBlJljogKRwRhS_AvQ_sXqzm70AbPOPvUBz8_QwL5hA8ZpGop4DvZDigrBfXYo4wRoFHgRG7rIX',
     'width': 2048}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1073,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.8724296802915,
      'lng': 2.340311380291503},
     'southwest': {'lat': 48.8697317197085, 'lng': 2.337613419708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'ATtYBwL738Ykav50axP3zUpMuhKI2t3fNYRUCY0rHw5eGob4VJl7jTMeatN9WN3zi9DgSihgEiYd9HaRNPcgjjm_ScDC1gudgRYqLlVcPrkFH5Dgo2mGQXSeodsbJetGp7LG60I9sLhQmoGs5dRUXz_16vrvaTFXer2qz2kRJfQfwyOBf9TW',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.7,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 134,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8654924, 'lng': 2.3271121},
    'viewport': {'northeast': {'lat': 48.86678673029151,
      'lng': 2.328593580291502},
     'southwest': {'lat': 48.86408876970851, 'lng': 2.325895619708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Westin Paris - Vendôme',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 810,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105819208076758962074">The Westin Paris - Vendôme</a>'],
     'photo_reference': 'ATtYBwJqOBPBkRhURchnYV046tlQGkWXWhnP79MepnfqCE8OHj5oeQV_uFtVD5p9qx7iQXqY4JKBqWs0_YcolNfTHDnqOR3azWMtla45kIn67JNfijG4TY-f0InEcBDTDqPdB1AYMNHfJ4YnLGLVAPc1mNTY3KQ5N1U89BpV5ONe6JSBHZiu',
     'width': 1440}],
   'place_id': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'plus_code': {'compound_code': 'V88G+5R Paris, France',
    'global_code': '8FW4V88G+5R'},
   'rating': 4.3,
   'reference': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2042,
   'vicinity': '3 Rue de Castiglione, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86038899999999, 'lng': 2.323112},
    'viewport': {'northeast': {'lat': 48.8617804302915,
      'lng': 2.324489280291502},
     'southwest': {'lat': 48.8590824697085, 'lng': 2.321791319708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': "Hôtel d'Orsay",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 768,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115556676131195822021">Hôtel 4 étoile d&#39;Orsay Paris 7ème</a>'],
     'photo_reference': 'ATtYBwIluR9J34bIEVSfp8vbpcdE8XTQj_QhfHH6XtiMM3yz3hA33hShyu8bl7vCz53azsZ774ZnGVzdZl8FDW1ta5N9if5SRNhV712ZvmT-QtWMbNNmU6sNZcLy4vWCsnihtD_TRNws6SBcggKE7oYsYH7ysWgmt9fKsBNqdgpRTL1PpUF2',
     'width': 1152}],
   'place_id': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'plus_code': {'compound_code': 'V86F+56 Paris, France',
    'global_code': '8FW4V86F+56'},
   'rating': 4.6,
   'reference': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 207,
   'vicinity': '93 Rue de Lille, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8661363, 'lng': 2.3260648},
    'viewport': {'northeast': {'lat': 48.8674534302915,
      'lng': 2.327513280291502},

In [32]:
len(hotels["results"])

20

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
  except (IndexError, NewError):
    print("Hotel not found... skipping.")

IndentationError: expected an indented block (<ipython-input-51-4fcdea368d39>, line 16)

In [30]:

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))